[submodule "src/diff-surfel-rasterization/third_party/glm"]
	path = src/diff-surfel-rasterization/third_party/glm
	url = https://github.com/g-truc/glm.git
[submodule "third_party/openpi"]
	path = third_party/openpi
	url = https://github.com/Physical-Intelligence/openpi.git
